


RewriteEngine On



RewriteBase /smoothworks.com/



RewriteRule ^index\.php$ - [L]



RewriteCond %{REQUEST_FILENAME} !-f



RewriteCond %{REQUEST_FILENAME} !-d



RewriteRule . /smoothworks.com/index.php [L]


