


RewriteEngine On



RewriteBase e:/works/projects/smoothwork/smoothworks/



RewriteRule ^index\.php$ - [L]



RewriteCond %{REQUEST_FILENAME} !-f



RewriteCond %{REQUEST_FILENAME} !-d



RewriteRule . e:/works/projects/smoothwork/smoothworks/index.php [L]


