.file-upload-block {
    border: 2px dashed #efefef;
    float: left;
    padding: 15px 0;
    position: relative;
    width: 100%;
}

.file-block {
    display: block;
    border: 2px dashed #efefef;
    float: left;
    padding: 15px 0;
    position: relative;
    width: 100%;
    height: 60px;
}

.file-input {
    display: none !important;
}

.file-name {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:  40%;
    padding: 20px 20px;
    line-height: 20px;
}

.file-size {
    position: absolute;
    top: 0;
    left: 40%;
    height: 100%;
    width:  40%;
    padding: 20px 20px;
    line-height: 20px;
}

.file-delete {
    position: absolute;
    top: 0;
    left: 80%;
    height: 100%;
    width:  20%;
    padding: 20px 20px;
    line-height: 20px;
}

.file-delete:hover {
    color: red;
    cursor: pointer;
}

.sos-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.sos-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.sos-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sos-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sos-slider {
  background-color: #2196F3;
}

input:focus + .sos-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sos-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.sos-slider.sos-round {
  border-radius: 17px;
}

.sos-slider.sos-round:before {
  border-radius: 50%;
}

.preview-box {
    border: 4px solid #dadada;
    border-radius: 4px 4px 0 0;
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    padding: 5px 10px;
}

.sos-menu-bar{
  margin:auto;
}

.sos-menu-bar > .sos-menu-item{
  box-sizing: border-box;
  float:left;
  display: block;
  text-align: center;
  line-height: 20px;
  padding:12px;
  height: 44px;
}

.sos-menu-bar>.sos-menu-item:hover{
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 3px solid gray ;
  color: gray;
  padding-bottom:9px;
}

.sos-menu-bar>.sos-menu-item.active{
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 3px solid #37a000; ;
  color: #37a000;;
  font-weight: bold;
  padding-bottom:9px;
}

.sos-bid-info-up {
  border: 4px solid #dadada;
  border-radius: 4px 4px 0 0;
  float: left;
  margin-bottom: 0;
  width: 100%;
  height:100%;
  border-bottom: 1px solid #dadada;
  display:flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px 10px;
}

.sos-bid-info-down {
  border: 4px solid #dadada;
  border-radius: 0 0 4px 4px;
  float: left;
  margin-bottom: 50px;
  width: 100%;
  height:100%;
  border-top: 0;
  display:flex;
  justify-content: space-between;
  align-content: flex-start;
  padding: 5px 10px;
}

.sub-form{
  display:flex;
  width: 100%;
  height: 100%;
  margin: 5px;
  align-items: center;
  justify-content: flex-start;
}


.sub-form-left{
  display:flex;
  width: 40%;
  height: 40%;
  margin: 5px;
  align-items: center;
  justify-content: flex-start;
  float:left;
}

.sub-form-right{
  display:flex;
  width: 40%;
  height: 40%;
  margin: 5px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: middle;
  float:right;
}

.sos-form-detail{
  width: 60%;
}

.sos-form-button-container{
  width: 30%;
  display:flex;
  align-items:flex-end;
  justify-content: flex-end;
  padding:5px;
}

.sos-form-button{
  margin: 5px;
}

.sos-form-button:disabled{
  background-color: #dadada;
}

.sos-form-button:disabled:hover{
  background-color: #ccc;
}

.order-btn > button {
  background-color: #37a000;
  box-shadow: 0 5px 0 #19a9a3;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 6px 0;
  width: 100%;
}

.contact-container {
  margin: auto auto 0px 0px;
}

.contact-container p{
  font-size: 14px;
  font-weight: bold;
  color: #5cb85c;
  margin:0px 0px 0px 10px;
}

.membership_list {
    padding: 0;
    background: #ffffff;
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: #000000;
    font-size: 16px;
    flex-wrap: wrap;
}

.membership_item {
    text-align: center;
    padding: 30px 0;
    border-top: 4px solid #37a000;
}

.membership_item:first-child .membership_item_header {
    border: none;
}

.membership_item_header {
    border-left: 1px dashed #b2babf;
    padding: 0 30px 20px 30px;
}

.membership_item_header .title {
    font-size: 28px;
    font-weight: 600;
}

.membership_item_header .price {
    font-size: 48px;
    padding: 20px 0;
    font-weight: 600;
    position: relative;
}

.membership_item_header .price .decimal_price {
    font-size: 20px;
    position: absolute;
}

.membership_item_header .downgrade {
    margin-bottom: 30px;
}

.downgrade .downgrade_btn {
    width: 100%;
}

.membership_item_header:after {
    content: "";
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    height: 1px;
}

.membership_item:first-child .membership_item_content {
    border: none;
}

.membership_item_content {
    border-left: 1px dashed #b2babf;
    padding: 0 30px;
}

.membership_item_content .membership_detail {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.bid-container{
  box-sizing: border-box;
  padding:5px;
  display:flex;
}

.bid-description{
  box-sizing: border-box;
  padding:5px 5px 0px 5px;
  width:60%
}

.bid-character{
  box-sizing: border-box;
  padding :5px 5px 0px 5px;
  display:flex;
  flex-direction: column;
  align-content: space-between;
  width:40%
}

.bid-input{
  display:flex;
  align-items:flex-end;
}

.bid-input input{
  width:85%
}

.search-area{
  padding:20px 0px;
  display:flex;
  justify-content:space-between;
}

.search-condition{
  width:60%;
}

.search-category{
  width:30%;
}

.table-area{
  width:100%;
  outline-style: solid;
  outline-width: 1px;
  outline-color: lightgray;
  margin-bottom: 30px;
}

.table-area td, .table-area th{
  padding:5px;
}

.table-area tr{
  border: 1px solid darkgray;
}

.project-area
{
  box-sizing: border-box;
  width:100%;
  outline-style: solid !important;
  outline-width: 1px!important;
  outline-color: lightgray!important;
  border: 1px solid darkgray;
  display:flex;
  justify-content:space-between;
  padding:0px 10px 20px 20px;
}

.project-area:hover{
  border-left: 5px solid #37a000;;
}

.project-content{
  width:80%;
}

.project-detail{
  display: block;
}

.project-state{
  display:flex;
  justify-content: space-between;
}

.project-category{
  display:block;
}

.project-price{
  width:10%;
  margin:20px 20px auto auto;
  text-align: right;
}

.project-container{
  margin:0px 0px 30px 0px;
}

.project-icon
{
  padding: 20px 5px 0px 0px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.accept_title {
    font-size: 20px;
}

.accept_content {
    font-size: 16px;
}

.team_info {
    margin-bottom: 20px;
}

.team_count {
    margin-bottom: 10px;
}

.team_membership {
    margin-bottom: 10px;
}

.team_service_count {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #cacaca;
}




